.vs
.vscode

# Csharp files
bin
obj
*.suo
*.user
*appsettings.*.json

# Test files
*.opencover.xml

# Terraform files
*.tfvars
*.tfplan
*.tfstate
.terraform/.terraform/*
*.hcl

#SQLite files
*.db
*.db-shm
*.db-wal